* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
}

.infoContainer {
  border: 1px solid black;
}

.infoContainer > div:first-of-type {
  width: 250px;
}

.infoContainer > div:first-of-type > img {
  width: 100%;
  height: auto;
}

.infoContainer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 10px;
}

.infoContainer > div:nth-child(2) > button {
  width: 90%;
}

body {
  font-family: "Roboto Mono";
  color: white;
}
