* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
}

.infoContainer > div:first-of-type {
  width: 250px;
  height: 117px;
}

.infoContainer > div:first-of-type > img {
  width: 100%;
  height: auto;
}
