* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
  color: white;
}

.appContainer {
  width: 250px;
}

.infoContainer > div:first-of-type {
  width: 250px;
}

.infoContainer > div:first-of-type > img {
  width: 100%;
  height: auto;
}

.infoContainer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 10px;
  width: 250px;
}

.infoContainer > div:nth-child(2) > button {
  width: 90%;
}

.aboutContainer,
.interestsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.75rem;
}

.aboutContainer > p,
.interestsContainer > p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 13px;
}

.footerContainer {
  background-color: white;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
}

.footerContainer > div {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-evenly;
}
